* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;   
    box-sizing: border-box;
}
.general-position-top{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(41, 41, 41);
}
.nav-ban{
    background-color: rgb(41, 41, 41);
    color: #fff;
    width: 100%;
    height: 100%;
    bottom:0 auto;
    background-size: cover;
    background-position: center;
    display: block;
    margin:0;
    padding:0;
    line-height:0;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    bottom: -14px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.container-general{
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: 100%;
    margin:0 auto;
    top:auto;
    position:relative;
    color: #fff;
    display: block;
    margin:0;
    padding:0;
}
#container-tittle-page {
    background-color: rgb(41, 41, 41);
    width: 500px;
    height: 500px;
    margin: 1rem;
    display: grid;
    place-items: center;
    align-content: center;
    justify-content: center;
}
#contenido-tittle-page{
    font-size:larger;
    width: 400px;
    height: 60px;
    margin: 0 auto;
    display: grid;
    letter-spacing: 5px;
}
#contenido-text-page{
    font-size: small;
}
.content-pic-profile{
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    float: left;
    width: 45%;
    height: auto;
}